<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>
      <%= htmlWebpackPlugin.options.config.title || '日化选品系统' %>
    </title>

    <% for(var css of htmlWebpackPlugin.options.cdn.css) { %>
    <link href="<%=css%>" rel="preload" as="style" />
    <link rel="stylesheet" href="<%=css%>" as="style" />
    <% } %> <% for(var js of htmlWebpackPlugin.options.cdn.js) { %>
    <link href="<%=js%>" rel="preload" as="script" />
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->

    <% for(var js of htmlWebpackPlugin.options.cdn.js) { %>
    <script src="<%=js%>"></script>
    <% } %>
    <!-- <% if (!htmlWebpackPlugin.options.config.analytics) { %>
    <script>
      var _mtac = {}
      ;(function() {
        var mta = document.createElement('script')
        mta.src = '//pingjs.qq.com/h5/stats.js?v2.0.4'
        mta.setAttribute('name', 'MTAH5')
        mta.setAttribute('sid', '500710254')
        mta.setAttribute('cid', '500710255')
        var s = document.getElementsByTagName('script')[0]
        s.parentNode.insertBefore(mta, s)
      })()
    </script>
    <% } %> -->
    <script
      type="text/javascript"
      src="http://res.wx.qq.com/open/js/jweixin-1.6.0.js"
    ></script>
  </body>
</html>
